@background: #f7f7f7;
@mob_background: #fff;

.wrapper{
    width: 100%;
    font-family: Inter;
    background: @background;

    @media (max-width: 1024px) {
        background: @mob_background;
}

}

.inner_wrapper {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px 64px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 1350px) {
    .inner_wrapper {
        padding: 16px 24px; 
    }
}


.categories{
    display: flex;
    flex-direction: row;
    
    @media (max-width: 768px) {
       flex-wrap: wrap;
        gap: 4px;
        line-height: 1.4;
    }
}

.section{
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    p{
        padding: 0 2px;
    }

    &:hover{
        color: #444444;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    .categories {
        font-size: 14px;
    }

    .section p {
        white-space: normal;
    }
}
