
  body,
  html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
    min-height: 100%;
    position: relative;
    background-color: #e8e8e8;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #000;
    overflow-y: scroll;
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
  }

  #app {
    height: 100%;
  }
