@accent: #E30613;

.checkoutInnerWrapper {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 30px 64px;
    
    @media (max-width: 1350px) {
        padding: 16px 24px; 
    }
}

.checkoutContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @media (max-width: 995px) {
        grid-template-columns: 1fr;
    }

    h2{
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 20px;
    }
}

.checkoutInformation{
    display: flex;
    flex-direction: column;
}