@btn: #2bbc68;
@accent: #E30613;

.wrapper {
    width: 100%;
    font-family: Lexend;
}

.inner_wrapper {
    padding: 40px 64px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    
    @media (max-width: 1350px) {
        padding: 16px 24px; 
    }
}


.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
    .icon{
      font-size: 100px;
    }

  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
    h2{
      font-size: 40px;
      font-weight: bold;
      text-align: center;
    }

    p{
      font-size: 20px;
    }
  }

}

.box{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.products{
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.product_item{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items:start;
    width: 100%;
    min-width: 0; 

    @media (max-width: 768px) {
        gap: 15px;
    }

    img{
        width: 150px;
        height: 150px;
        object-fit: cover;
        @media (max-width: 768px) {
            width: 100px;
            height: 100px;
        }
    }



}

.product_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    flex: 1;             // Занимает всю оставшуюся ширину
    min-width: 0; 

    @media (max-width: 768px) {
        gap: 10px;
    }

    h3{
        font-size: 15px;
        font-weight: bold;
        @media (max-width: 768px) {
            font-size: 14px;
        }

        @media (max-width: 400px) {
            font-size: 12px;
        }
    }
}

.original_price {
    text-decoration: line-through;
    color: #888;
    margin-right: 5px;
    @media (max-width: 768px) {
        font-size: 14px;
    }

    @media (max-width: 400px) {
        font-size: 12px;
    }
}

.discount_price {
    color: @accent;
    font-weight: bold;
    @media (max-width: 768px) {
        font-size: 14px;
    }

    @media (max-width: 400px) {
        font-size: 12px;
    }
}



.total_cart_price{
    color: #000;
    font-weight: bold;
    @media (max-width: 768px) {
        font-size: 14px;
    }

    @media (max-width: 400px) {
        font-size: 12px;
    }
}

.edit_btn, .delete_btn{
    padding: 0 5px;
    cursor: pointer;
    transition: .2s;

    :hover{
        color: #8f8f8f;
        transition: .2s;
    }
}

.total{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    padding: 20px 25px;
    border: solid .1px #ebebeb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.048);

    .total_label{
        font-size: 20px;
        font-weight: bold;
    }

     .total_price{
        color: #000;
        font-weight: bold;
        font-size: 18px;
    }

    .total_info{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        gap: 10px;
        font-size: 14px;
        color: #555;

        h1{
            font-size: 24px;
            color: #000;
            font-weight: bold;
        }

        h3{
            border-bottom: solid .1px #ebebeb;
            padding-bottom: 10px;
        }
    }

    .checkout_btn{
        padding: 10px 20px;
        width: 100%;
        background: @btn;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: .2s;

        &:hover{ 
            background: #c9c9c9;
            transition: .2s;
        }
    }

}

/* --------- Recomendations ------------- */

.recomendationds_title {
    width: 100%;
    margin: 30px 0;

    h2 {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }

    h2::before,
    h2::after {
        content: "";
        flex: 1;
        height: 1px;
        background: #dcdcdc;
    }
}

