@import "@{colors}";

@fontsize: 1.25rem;

@color: #13940d;

.wrapper {
  text-decoration: none;
  background-color: transparent;
  outline: 0;
  color: @color;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    text-decoration: underline;
    background-color: transparent;
    outline: none;
    color: @color;
  }
} 

 


 
.icon {
  color: @color;
  font-size: @fontSize;
  margin-right: 10px;
}

.title {
  color: @color;
  font-size: @fontSize;
}