@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

  html {
    font-size: 16px; 
    font-family: Lexend, sans-serif !important; 
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  }

  body,
  html {
    height: 100%;
    margin: 0;
    font-family: Lexend;

    /* padding: 0 5px; */
  }
  
  body { 
    min-height: 100%;  
    position: relative;
    background: #fff;
    font-family: inherit;
    font-size: 0.875rem;
    color: #000;    
    overflow-y: scroll;
  } 

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  #app {
    height: 100%;
  }

  